<div id="<%= dom_id availability %>">
  <p>
    <strong>User:</strong>
    <%= availability.user_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= availability.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= availability.end_time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= availability.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= availability.description %>
  </p>

  <p>
    <strong>Is open:</strong>
    <%= availability.is_open %>
  </p>

</div>
