<p style="color: green"><%= notice %></p>
<div class="container text-center" style="padding-left: 20px; padding-right: 20px;">
  <h1>Climb Times</h1>
  <div><%= link_to "New availability", new_availability_path, class: "btn btn-primary btn-sm" %></div>
  <%= month_calendar events: @availabilities do |date, availabilities| %>
    <div class="card mb-3">
      <div class="card-header">
        <%= date.strftime("%m/%d/%Y") %>
      </div>
      <div class="card-body p-0">
        <% if availabilities.any? %>
          <% availabilities.each do |availability| %>
            <div class="border-bottom">
              <div class="p-2">
                <%= render availability %>
                <% if availability.user == current_user %>
                  <%= link_to "Edit availability", edit_availability_path(availability), class: "btn btn-info btn-sm d-block mt-2" %>
                <% else %>
                  <%= link_to "Climb with #{availability.user.username}", new_request_path(availability_id: availability.id), class: "btn btn-primary btn-sm d-block mt-2" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="p-2">
            <%= link_to "New availability", new_availability_path, class: "btn btn-primary btn-sm d-block mt-2" %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
